img{
    max-width: 100%;
    /* -webkit-filter: grayscale(200%); /* Safari 6.0 - 9.0 */
    /* filter: grayscale(200%); */
}
figure figcaption {
	text-align: center;
    top: -65px;
    position: relative;
    width: 75%;
    height: 10%;
    margin: 0 auto;
    background: #ffffe6;
}
.homepage .col-sm-4{padding: 10px 30px;	}
.homepage a figure figcaption h4{padding: 20px 0;}
.homepage a figure figcaption h4, .homepage a figure figcaption p {color: #333;}
.homepage  a:hover {text-decoration: none;}
.arrow-icon{ max-width: 36px;}
.homepage h2{
	text-align: center;
	font-style: italic;
}
.figure-caption p:first-child{padding: 0 25px; min-height: 175px;}